{% extends 'base.html.twig' %}

{% block title %}✅ My solution to the task: Movie-API {% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>✅ My solution to the task: Movie-API </h1>


        <ul>
            <li>
                Documentation GitHub
                <code><a href="https://github.com/webbag/movie-api">https://github.com/webbag/movie-api</a></code>
            </li>

            <li>
                Use the POSTMAN collection to check:
                <code><a href="https://www.getpostman.com/collections/203e3a856064f6ec2417">https://www.getpostman.com/collections/203e3a856064f6ec2417</a></code>
            </li>
        </ul>

    </div>
{% endblock %}
